<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Add Journey</title>
</head>
<body>
<div th:replace="~{header :: header}"></div>


<form th:method="POST" th:action="@{/journeys}" th:object="${journey}">
    <div class="form-group">
        <label for="departure">Enter departure: </label>
        <input type="text" th:field="*{departure}" id="departure" placeholder="dd-mm-yyyy, 00:00"/>
        <div style="color:red" th:if="${#fields.hasErrors('departure')}" th:errors="*{departure}">Departure Error</div>
    </div>
    <br/>
    <div class="form-group">
        <label for="returnDate">Enter return: </label>
        <input type="text" th:field="*{returnDate}" id="returnDate" placeholder="dd-mm-yyyy, 00:00"/>
        <div style="color:red" th:if="${#fields.hasErrors('returnDate')}" th:errors="*{returnDate}">Return Error</div>
    </div>
    <br/>

    <div class="form-group">
        <label for="departureStationId">Enter departure station Id: </label>
        <input type="text" th:field="*{departureStationId}" id="departureStationId"/>

        <div style="color:red" th:if="${#fields.hasErrors('departureStationId')}" th:errors="*{departureStationId}">
            Departure station Id Error
        </div>
    </div>
    <br>
    <div class="form-group">
        <label for="departureStation">Enter Departure Station: </label>
        <input type="text" th:field="*{departureStation}" id="departureStation"/>
        <div style="color:red" th:if="${#fields.hasErrors('departureStation')}" th:errors="*{departureStation}">
            Departure
            Station Error
        </div>
    </div>
    <br/>
    <div class="form-group">
        <label for="returnStationId">Enter return station Id: </label>
        <input type="text" th:field="*{returnStationId}" id="returnStationId"/>
        <div style="color:red" th:if="${#fields.hasErrors('returnStationId')}" th:errors="*{returnStationId}">Return
            station Id Error
        </div>
    </div>
    <br>
    <div class="form-group">
        <label for="returnStation">Enter Return Station: </label>
        <input type="text" th:field="*{returnStation}" id="returnStation"/>
        <div style="color:red" th:if="${#fields.hasErrors('returnStation')}" th:errors="*{returnStation}">Return Station
            Error
        </div>
    </div>
    <br/>
    <div class="form-group">
        <label for="distance">Enter distance: </label>
        <input type="text" th:field="*{distance}" id="distance"/>
        <div style="color:red" th:if="${#fields.hasErrors('distance')}" th:errors="*{distance}">Distance Error</div>
    </div>
    <br/>
    <div class="form-group">
        <label for="duration">Enter duration: </label>
        <input type="text" th:field="*{duration}" id="duration"/>
        <div style="color:red" th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}">Duration Error</div>
    </div>
    <br/>
    <br/>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous">
</script>
</body>
</html>