<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>

<p th:text="${'Station ' + station.getStationNameEn() + ' Station Adress: ' + station.getAddressFI() +
 '. Total number of journeys starting from the station: ' + station.getStartingFromStation() + '. Total number of journeys ending at the station: ' + station.getEndingFromStation()
 + ' The average distance of a journey starting from the station: ' + station.getAvgDistanceFromStation() + ' The average distance of a journey ending to the station: ' + station.getAvgDistanceToStation()}">VALUE</p>

</body>
</html>