<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${'Journey ' + journey.getId() + ' Departure Station: ' + journey.getDepartureStation()
+ ' Return Station: ' + journey.getReturnStation() + ' distance(km): ' + journey.getDistance()
+ ' duration(min): ' + journey.getDuration()}">VALUE</p>


<form th:method="DELETE" th:action="@{/journeys/{id}(id=${journey.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>